* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Lexend Deca", sans-serif;
}

body {
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
}

header {
  display: grid;
  /* grid-auto-flow: column; */
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: repeat(2); */
  align-items: center;
  justify-items: center;
  padding: 0 1rem;
  background-color: lightblue;
}

.header-btn button {
  background-color: white;
  padding: 1rem 2rem;
  cursor: pointer;
  border: 1px solid greenyellow;
}

.header-btn button:hover {
  background-color: rgba(65, 119, 3, 0.6);
}

.toggle_button {
  width: 3rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
}

.toggle_button:focus {
  outline: none;
}

.toggle__bar {
  width: 100%;
  height: 0.2rem;
  background: black;
  display: block;
  margin: 0.6rem 0;
}

.mobile__nav {
  display: none;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  width: 30%;
  height: 100vh;
  background-color: greenyellow;
}

.mobile__nav-items {
  height: 100%;
  list-style: none;
  margin: 10% auto;
  padding: 2.5rem 0;
  text-align: center;
}

.mobile__nav-item {
  margin: 1rem 0;
  padding: 1.5rem 0;
  vertical-align: middle;
}

.mobile__nav-item a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 0.2rem;
}
.fa-phone {
  padding: 0 0.5rem;
}
.mobile__nav-item:hover,
.item-1 {
  background-color: rgba(65, 119, 3, 0.6);
}

.item-1:hover {
  background-color: rgba(65, 119, 3, 1);
}

.mobile__nav .btn {
  float: right;
  padding: 10px;
  background-color: red;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  border: none;
}

@media (max-width: 40rem) {
  .mobile__nav {
    width: 50%;
  }
}

@media (max-width: 600px) {
  header {
    grid-template-columns: repeat(2, 8.5rem);
    /* row-gap: 1rem; */
    justify-content: space-around;
  }
}

.banner {
  position: relative;
}
.banner img {
  width: 100%;
  height: 80vh;
  position: relative;
  filter: brightness(60%);
}

@media (max-width: 60rem) {
  .banner img {
    height: 40vh;
  }
}
/* @media (orientation: landscape) {
  .banner img {
    height: 70vh;
  }
} */
.banner-content h1 {
  font-weight: 400;
  margin-bottom: 1rem;
}
.banner-content h2 {
  font-size: 3rem;
}
@media (max-width: 655px) {
  .banner-content {
    text-align: center;
    margin-top: -50px;
    font-size: 1rem;
  }
}
@media (max-width: 360px) {
  .banner-content {
    text-align: center;
    margin-top: -50px;
    font-size: 1rem;
    left: 0;
    right: 0;
  }
  .banner-content h2 {
    font-size: 1.5rem;
  }
}
.banner-content {
  color: white;
  position: absolute;
  top: 50%;
  left: 15%;
}

.paraphraise {
  text-align: center;
  padding: 5rem 2vw;
  width: 60%;
  max-width: 80rem;
  margin: 0 auto;
}

.paraphraise h3 {
  font-size: 3rem;
  margin-bottom: 2.5rem;
}
.paraphraise > p {
  margin-bottom: 2.5rem;
}

@media (max-width: 398px) {
  .paraphraise {
    text-align: center;
  }
}
.island-culture {
  display: flex;
  height: 20vw;
}

.island-culture-memo {
  height: 100%;
  width: 33.33333%;
}

.history {
  background: #e0e0e0;
  display: flex;
  padding: 10rem 6vw;
  justify-content: center;
  align-items: center;
  gap: 5vw;
}

.history-details {
  flex-basis: 65%;
  max-width: 50rem;
}
.history-details h3,
p {
  margin-bottom: 2.5rem;
}

.history-map {
  flex-basis: 25%;
}

.history-map img {
  width: 100%;
  margin-bottom: 6rem;
}

.history-clip {
  background-color: white;
  text-align: center;
  padding: 2rem 0;
  position: relative;
}

.history-clip i {
  color: lightgreen;
  position: absolute;
  top: -2rem;
  left: -2rem;
  font-size: 3rem;
}

.history-clip p {
  width: 80%;
  margin: 0 auto;
}
@media (max-width: 60rem) {
  .history {
    flex-direction: column;
  }
}

.sea-view {
  width: 100%;
  height: 600px;
  position: relative;
}

.sea-view img {
  width: 100%;
  height: 100%;
  filter: brightness(50%);
}

.sea-view p {
  position: absolute;
  top: 0;
  width: 100%;
  height: 600px;
  padding: 15rem 20vw;
  text-align: center;
  font-size: 2rem;
  color: white;
}

@media (max-width: 60rem) {
  .sea-view p {
    margin-top: -100px;
    font-size: 1.5rem;
  }
}
/* @media (orientation: landscape) {
  .sea-view p {
    margin-top: 10px;
    font-size: 1.5rem;
  }
} */
.remember {
  padding: 10rem 6vw;
}

.remember h3 {
  text-align: center;
  margin-bottom: 2.5rem;
  font-size: 2.5rem;
}

.remember .split {
  display: flex;
  flex-direction: row;
  gap: 6vw;
}
.attract-nature {
  width: 100%;
  height: 550px;
  position: relative;
}

.attract-nature img {
  width: 100%;
  height: 100%;
  position: relative;
}

.attract-nature video {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  right: 15%;
  z-index: 1;
}
.attract-nature .expand {
  color: white;
  background-color: green;
  float: right;
  text-decoration: none;
  padding: 1rem;
}

.nature-content {
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 5%;
  width: 50%;
  transform: translateY(-50%);
  padding: 3vw;
  z-index: 1;
}

@media (max-width: 60rem) {
  .attract-nature video {
    bottom: 0;
    top: auto;
    width: 100%;
    right: 0;
    transform: none;
  }

  .nature-content {
    background-color: #fff;
    top: 30%;
    left: 0%;
    width: 100%;
    padding: 3vw;
    z-index: 1;
  }
}

.footer {
  display: flex;
  flex-direction: row;
  padding: 2rem 1rem;
  background-color: #417703;
}

.footer-item {
  text-align: center;
}

.footer-item p {
  color: white;
}

.footer__nav {
  display: flex;
  flex-direction: column;
}

.footer__nav-item {
  padding: 1rem;
  text-decoration: none;
  color: white;
}
.fa-brands {
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  padding: 0.1rem;
}

@media (max-width: 60rem) {
  .footer {
    flex-wrap: wrap;
    padding: 2rem;
    justify-content: space-around;
  }

  .footer-item {
    text-align: center;
    margin-bottom: 1rem;
  }
  .foot {
    padding: 0 1rem;
  }
}

@media (min-width: 60rem) {
  .footer {
    padding: 4rem;
  }
}

.booking-slot {
  padding: 5rem;
  background-color: #9fcd32;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7vw;
}
.bookingslots h3:last-child {
  color: rgba(0, 0, 0, 0.2);
}
.bookingslots > div {
  padding: 0.5rem;
  font-size: 1.5rem;
}
.fa-regular {
  padding: 1rem 0.5rem;
  font-size: 1.5rem;
}
.bookingslots {
  display: flex;
}
.booking-slot a {
  padding: 1rem;
  color: black;
  background-color: white;
  text-decoration: none;
}
@media (max-width: 60rem) {
  .booking-slot {
    flex-direction: column;
    padding: 1rem;
    gap: 1vw;
    text-align: left;
  }
}
