* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Lexend Deca", sans-serif;
}

body {
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
}

header {
  display: grid;
  /* grid-auto-flow: column; */
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: repeat(2); */
  align-items: center;
  justify-items: center;
  padding: 0 1rem;
  background-color: lightblue;
}

.header-btn button {
  background-color: white;
  padding: 1rem 2rem;
  cursor: pointer;
  border: 1px solid greenyellow;
}

.header-btn button:hover {
  background-color: rgba(65, 119, 3, 0.6);
}

.toggle_button {
  width: 3rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
}

.toggle_button:focus {
  outline: none;
}

.toggle__bar {
  width: 100%;
  height: 0.2rem;
  background: black;
  display: block;
  margin: 0.6rem 0;
}

.mobile__nav {
  display: none;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  width: 30%;
  height: 100vh;
  background-color: greenyellow;
}

.mobile__nav-items {
  height: 100%;
  list-style: none;
  margin: 10% auto;
  padding: 2.5rem 0;
  text-align: center;
}

.mobile__nav-item {
  margin: 1rem 0;
  padding: 1.5rem 0;
  vertical-align: middle;
}

.mobile__nav-item a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 0.2rem;
}
.fa-phone {
  padding: 0 0.5rem;
}
.mobile__nav-item:hover,
.item-1 {
  background-color: rgba(65, 119, 3, 0.6);
}

.item-1:hover {
  background-color: rgba(65, 119, 3, 1);
}

.mobile__nav .btn {
  float: right;
  padding: 10px;
  background-color: red;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  border: none;
}

@media (max-width: 40rem) {
  .mobile__nav {
    width: 50%;
  }
}

@media (max-width: 600px) {
  header {
    grid-template-columns: repeat(2, 8.5rem);
    /* row-gap: 1rem; */
    justify-content: space-around;
  }
}

.item-1:hover {
  background-color: rgba(65, 119, 3, 1);
}

.mobile__nav .btn {
  float: right;
  padding: 10px;
  background-color: red;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  border: none;
}
.strict {
  position: relative;
}
.Book-Tour img {
  margin: 0;
  padding: 0;
  width: 100%;
  background-size: cover;
  background-position: center;
  height: 60vh;
  filter: brightness(50%);
  position: relative;
}

.Book-Tour .banner-content {
  position: absolute;
  top: 40%;
  left: 17%;
  color: white;
}

.Book-Tour .banner-content h1 {
  font-family: inherit;
  margin-bottom: 10px;
}

.Book-Tour article p {
  font-size: 4rem;
  font-family: "Source Serif", sans-serif;
}
@media (max-width: 60rem) {
  .Book-Tour .banner-content h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .Book-Tour .banner-content p {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .Book-Tour img {
    height: 50vh;
  }

  .Book-Tour .banner-content {
    padding: 2rem 5%;
  }
}
@media (max-width: 962px) {
  .Book-Tour .banner-content {
    padding: 2rem 5%;
  }
}
@media (max-width: 690px) {
  .Book-Tour .banner-content {
    left: 0;
    right: 0;
    top: 20%;
    text-align: center;
  }
}
@media (max-width: 495px) {
  .Book-Tour .banner-content h1,
  p {
    font-size: 1rem;
  }
}
.eco-tour {
  background-image: url(../images/mountain.webp);
  width: 100%;
  /* width -100vw,height - 50rem, responsive height - auto */
  height: 90vh;
  background-position: center;
  position: relative;
}

.details h3 {
  color: white;
  font-size: 3rem;
  text-align: center;
  padding: 1rem 0;
}

.icons {
  width: 80%;
  padding: 4rem;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(50px);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  display: flex;
  justify-content: space-around;
  gap: 6vw;
  margin: 4rem auto;
}
.icon i {
  font-size: 4rem;
  color: white;
}
.icon {
  text-align: center;
  padding: 1rem;
  position: relative;
}

.eco-tour .ancor {
  padding: 1rem 4rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
  text-decoration: none;
  color: white;
  background-color: lightgreen;
}

@media (max-width: 60rem) {
  .eco-tour .details h3 {
    font-size: 2rem;
    text-align: center;
    padding: 1rem 0;
  }
  .icons {
    width: 100%;
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(50px);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 10%;
    gap: 0;
    margin: 2rem auto;
    flex-direction: column;
  }
  .icon i {
    font-size: 1.5rem;
  }
  .icon {
    text-align: center;
    padding: 1rem;
  }
  .icons .ancor {
    padding: 1rem;
    margin-bottom: -10px;
  }
  .shutter {
    padding: 1rem 2.5rem;
    position: absolute;
    top: 80%;
    left: 45%;
    background-color: lightgreen;
  }
}

@media (max-width: 650px) and (max-width: 425px) {
  .eco-tour .details h3 {
    font-size: 1rem;
    text-align: center;
    padding: 1rem 0;
  }
  .icons {
    width: 100%;
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(50px);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 20%;
    gap: 0;
    margin: 2rem auto;
  }

  .eco-tour {
    width: 100%;
    height: 90vh;
  }
}
/* @media (max-width: 1200px) {
  .eco-tour {
    background-image: url(../images/mountain.webp);
    width: 100%;
    height: 90vh; */
/* background-position: center; */
/* position: relative;
  }
  .icons {
    width: 100%;
    padding: 4rem;
    position: absolute;
    top: 10%;
    gap: 0;
    margin: 2rem auto;
  }
} */
.maldives {
  padding: 3rem 3vw;
  position: relative;
  top: 0;
}
.maldives-in {
  max-width: 60rem;
  margin: 0 auto;
  text-align: center;
}

.maldives-in h3 {
  color: #417703;
  margin-bottom: 2.5rem;
  font-size: 3rem;
}

@media (max-width: 910px) {
  .maldives-in h3 {
    font-size: 2rem;
  }
}
.phillips {
  color: #fff;
  margin-top: 6rem;
  display: flex;
  justify-content: center;
  gap: 2vw;
}

.phillip-1 {
  background-color: #9fcd32;
  padding: 3vw;
  flex-basis: 50%;
  max-width: 65rem;
}

.phillip-1:last-child {
  background-color: #417703;
}

.phillip-1 h3 {
  margin-bottom: 2.5rem;
}

.Tour-travel {
  position: relative;
  margin: 50px;
}
.Tour-travel > h3,
.Tour-travel > p {
  text-align: center;
  margin-bottom: 2.5rem;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(2, 18vw);
  gap: 1px;
}

.wrapper > .box > img {
  object-fit: cover;
  position: absolute;
  filter: brightness(80%);
}

.wrapper > .box:hover img {
  filter: brightness(25%);
  transition: all 0.8s;
}

.wrapper .box {
  position: relative;
}

.box .box-content {
  position: absolute;
  bottom: -2.5rem;
  left: 12%;
  color: white;
  font-size: 1.2rem;
}
.box .box-content h3 {
  font-size: 1.2rem;
}
.box-contents p {
  font-size: 1.2rem;
  margin-bottom: 15px;
  visibility: hidden;
}

.box:hover .box-content {
  bottom: 10%;
  transition: all 0.8s;
}
.box:hover .box-contents p {
  visibility: visible;
  transition: all 0.8s;
}
.wrapper img {
  position: relative;
}

.wrapper .box1 {
  grid-column: span 7;
}
.wrapper .box2 {
  grid-column: span 4;
}

.wrapper .box3 {
  grid-column: span 4;
}

.wrapper .box4 {
  grid-column: span 4;
}

.wrapper .box5 {
  grid-column: span 4;
}

.wrapper .box6 {
  grid-column: span 7;
}

@media (max-width: 60rem) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 18vw);
    gap: 1px;
  }
  .wrapper .box1 {
    grid-column: span 1;
  }
  .wrapper .box2 {
    grid-column: span 1;
  }

  .wrapper .box3 {
    grid-column: span 1;
  }

  .wrapper .box4 {
    grid-column: span 1;
  }

  .wrapper .box5 {
    grid-column: span 1;
  }

  .wrapper .box6 {
    grid-column: span 1;
  }
}

@media (max-width: 40rem) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 50vw);
    gap: 1px;
  }
  .wrapper .box1 {
    grid-column: span 1;
  }
  .wrapper .box2 {
    grid-column: span 1;
  }

  .wrapper .box3 {
    grid-column: span 1;
  }

  .wrapper .box4 {
    grid-column: span 1;
  }

  .wrapper .box5 {
    grid-column: span 1;
  }

  .wrapper .box6 {
    grid-column: span 1;
  }
}

@media (max-width: 400px) {
  .box .box-content h3 {
    font-size: 1.2rem;
    /* margin-bottom: 1px; */
  }
  .box-contents p {
    font-size: 1rem;
    margin-bottom: 10px;
    visibility: hidden;
  }
}

.private-tour-review {
  background-color: #eeeeee;
  padding: 10rem 6vw;
  display: flex;
  justify-content: center;
  gap: 5vw;
}
.brands {
  height: 6rem;
}
.tour-employees h3 {
  font-size: 3rem;
}
.private-emp-profile {
  margin: 6rem 0;
  display: grid;
  gap: 1vw;
  grid-template-columns: repeat(3, 1fr);
}

.fa-star,
.fa-star-half {
  font-size: 1rem;
  color: #417703;
}
.tour-employees a {
  text-decoration: none;
  padding: 1rem;
  color: #fff;
  background-color: #9fcd32;
}

.private-emp-profile img {
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
}
.iconix {
  display: flex;
  gap: 2.5rem;
  align-items: center;
}
.snippet {
  padding: 3rem;
  background-color: #fff;
  margin-bottom: 6rem;
}

@media (max-width: 60rem) {
  .private-tour-review {
    flex-direction: column;
    text-align: center;
  }
  .private-emp-profile {
    margin: 6rem 0;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .private-emp-profile img {
    margin: auto;
  }
}
.booking-slot {
  padding: 5rem;
  background-color: #9fcd32;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7vw;
}
.bookingslots h3:last-child {
  color: rgba(0, 0, 0, 0.2);
}
.bookingslots > div {
  padding: 0.5rem;
  font-size: 1.5rem;
}
.fa-regular {
  padding: 1rem 0.5rem;
  font-size: 1.5rem;
}
.bookingslots {
  display: flex;
}
.booking-slot a {
  padding: 1rem;
  color: black;
  background-color: white;
  text-decoration: none;
}

@media (max-width: 60rem) {
  .booking-slot {
    flex-direction: column;
    padding: 1rem;
    gap: 1vw;
    text-align: left;
  }
}

form {
  width: 80%;
  max-width: 110rem;
  max-height: 95vh;
  position: relative;
}
.canditate-details {
  background-color: #9fcd32;
  padding: 1rem;
  display: flex;
  gap: 2vw;
  flex-wrap: wrap;
  justify-content: space-around;
}
.fill-up-1 {
  flex-basis: auto;
}
.fill-up-2,
.fill-up-3,
.fill-up-4 {
  flex: auto;
}
.canditate-details .fill-pop,
.user-details .fill-pop {
  margin-top: 1.2rem;
  display: block;
  width: 100%;
  border: none;
  outline: none;
  padding: 1rem;
  transition: box-shadow 0.2s;
}
.design {
  height: 130px;
}
.fill-up {
  position: fixed;
  /* background-color: rgba(0,0,0,0.5); */
  height: 100vh;
  width: 100vw;
  top: 2.5%;
  right: -10%;
  z-index: 10;
}
.fill-up {
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  bottom: 10%;
}
.user-details {
  color: #000;
  padding: 1rem;
  background-color: #e2e0e0;
  display: grid;
  column-gap: 2vw;
  row-gap: 2rem;
  align-items: start;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "fhead lhead mhead phead"
    "main main main country"
    "main main main agreement"
    "main main main btn";
}
.grid-1 {
  grid-area: fhead;
}
.grid-2 {
  grid-area: lhead;
}
.grid-3 {
  grid-area: mhead;
}
.grid-4 {
  grid-area: phead;
}
.grid-5 {
  grid-area: main;
}
.grid-6 {
  grid-area: country;
}
.grid-7 {
  grid-area: agreement;
}
.grid-8 {
  grid-area: btn;
}
.cls-btn {
  background-color: #cd3232;
  padding: 0.5rem;
  position: absolute;
  top: 0;
  right: 0;
  text-decoration: none;
}
.grid-8 {
  padding: 1rem;
  background-color: green;
  color: #fff;
  border: none;
  outline: none;
}

@media (max-width: 60rem) {
  .user-details {
    color: #000;
    padding: 1rem;
    background-color: #e2e0e0;
    display: grid;
    column-gap: 1vw;
    row-gap: 1rem;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "fhead fhead lhead lhead"
      "mhead mhead phead phead"
      "main main country country"
      "main main agreement agreement"
      "btn btn btn btn";
  }

  .design {
    height: 80px;
  }

  form {
    width: 100%;
    padding: 1rem;
  }
  .canditate-details {
    flex-wrap: wrap;
  }
  .canditate-details,
  .user-details {
    padding: 1rem;
  }
  .fill-up {
    left: -10px;
  }
  .fill-up-1 {
    flex-basis: auto;
  }
  .fill-up-2,
  .fill-up-3,
  .fill-up-4 {
    flex: auto;
    margin-right: 1rem;
  }

  .fill-up-4 {
    margin-right: 0;
  }
}
@media (max-width: 40rem) {
  .fill-up-3 {
    flex-wrap: wrap;
  }
}

.footer {
  display: flex;
  flex-direction: row;
  padding: 2rem 1rem;
  background-color: #417703;
}

.footer-item {
  text-align: center;
}

.footer-item p {
  color: white;
}

.footer__nav {
  display: flex;
  flex-direction: column;
}

.footer__nav-item {
  padding: 1rem;
  text-decoration: none;
  color: white;
}
.fa-brands {
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  padding: 0.1rem;
}

@media (max-width: 60rem) {
  .footer {
    flex-wrap: wrap;
    padding: 2rem;
    justify-content: space-around;
  }

  .footer-item {
    text-align: center;
    margin-bottom: 1rem;
  }
  .foot {
    padding: 0 1rem;
  }
}
